

<div class="article_<%=article.id%>">
  <h2 class="article-post"><%= article.title%></h2>
  <p class="blog-post-meta"><%= article.created_at%> by <a href="#"><%= article.author%></a></p>
  <hr>
  <p><%= link_to "Show", article_path(article)%></p>
</div>