
<div class="article_<%=article.id%>">
  <h2 class="article-post"><%= article.title%></h2>
  <p class="article-post-meta"><%= article.created_at%> by <b><%= article.author%></b></p>
  <p class="article-score">
    Score: <%= article.score%>
  </p>
  <%= link_to "Like", "#", class: "btn btn-success like-button", "data-value" => article.id %>
  <%= link_to "Dislike", "#", class: "btn btn-danger dislike-button", "data-value" => article.id %>

  <%= black_list?(article).html_safe %>
  <%= white_list?(article).html_safe %>

  <hr>
  <p><%= link_to "Show", article_path(article)%></p>
</div>